version: '3'

services:
  postgres:
    image: 'postgres:15'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: testnet
    ports:
      - '5432:5432'
    restart: unless-stopped
    volumes:
      - pg-data:/var/lib/postgresql/data
    container_name: postgres

  backend:
    build:
      context: ../..
      dockerfile: ./packages/backend/Dockerfile.dev
    depends_on:
      - postgres
    environment:
      NODE_ENV: development
      PORT: 3000
    # env_file:
    #   - ../../packages/backend/.env
    restart: always
    ports:
      - '3000:3000'
    container_name: backend
    
  wallet:
    build:
      context: ../..
      dockerfile: ./packages/wallet/Dockerfile.dev
    depends_on:
      - postgres
    environment:
      NODE_ENV: development
      PORT: 4003
    restart: always
    
    ports:
      - '4003:4003'
    # In order to take advantage of HMR inside Docker we have to add these volumes
    volumes:
      - ../../packages/wallet:/home/testnet/packages/wallet
      - /home/testnet/packages/wallet/node_modules
      - /home/testnet/packages/wallet/.next
    container_name: wallet

volumes:
  pg-data:
  redis:
    driver: local
