version: '3.5'

networks:
    dev-network:
        driver: bridge

services:
  postgres:
    image: 'postgres:15'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: testnet
    ports:
      - '5433:5433'
    restart: unless-stopped
    volumes:
      - pg-data:/var/lib/postgresql/data
    networks:
      - dev-network
    container_name: postgres

  backend:
    build:
      context: ../..
      dockerfile: ./packages/backend/Dockerfile.dev
    depends_on:
      - postgres
    environment:
      NODE_ENV: development
      PORT: 3003
      DB_URL: postgres://postgres:password@postgres/testnet
      JWT_ACCESS_TOKEN_SECRET: MY_SUPER_SECRET_ACCESS_TOKEN
      JWT_ACCESS_TOKEN_EXPIRATION_TIME: 100000000
      JWT_REFRESH_TOKEN_SECRET: MY_SUPER_SECRET_REFRESH_TOKEN
      JWT_REFRESH_TOKEN_EXPIRATION_TIME: 100000000
    restart: always
    networks:
    - dev-network
    ports:
      - '3003:3003'
      # Map debugger port to local machine's port 9229
      - '9229:9229'
    container_name: backend
    
  wallet:
    build:
      context: ../..
      dockerfile: ./packages/wallet/Dockerfile.dev
    depends_on:
      - postgres
    environment:
      NODE_ENV: development
      PORT: 4003
    restart: always
    networks:
    - dev-network
    ports:
      - '4003:4003'
    # In order to take advantage of HMR inside Docker we have to add these volumes
    volumes:
      - ../../packages/wallet:/home/testnet/packages/wallet
      - /home/testnet/packages/wallet/node_modules
      - /home/testnet/packages/wallet/.next
    container_name: wallet

volumes:
  pg-data:
