version: '3.5'

services:
  postgres:
    container_name: postgres
    image: 'postgres:15'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - '5433:5432'
    restart: unless-stopped
    networks:
      - testnet
    volumes:
      - pg-data:/var/lib/postgresql/data
      - ./dbinit.sql:/docker-entrypoint-initdb.d/init.sql

  # Testnet
  wallet-backend:
    container_name: wallet-backend
    build:
      context: ../..
      dockerfile: ./packages/wallet-backend/Dockerfile.dev
    depends_on:
      - postgres
      - rafiki-backend
    environment:
      NODE_ENV: development
      PORT: 3003
      DB_URL: postgres://wallet_backend:wallet_backend@postgres/wallet_backend
      JWT_ACCESS_TOKEN_SECRET: u3uakiThYILFEewwhlHkepwMLM@Ikbj1LA!JQeeVyVEn$$Cj9t$$Ix0TWMYrEnpq$$X
      JWT_ACCESS_TOKEN_EXPIRATION_TIME: 2630000
      JWT_REFRESH_TOKEN_SECRET: 9s5PLg3X3dKLR8zwHk6RhrJHRGfhzrFHEMWaAtxgxyMNrCkmucywS7CCDYuWc4Kj
      JWT_REFRESH_TOKEN_EXPIRATION_TIME: 2630000
      RAPYD_API: https://sandboxapi.rapyd.net/v1
      RAPYD_ACCESS_KEY: ${RAPYD_ACCESS_KEY}
      RAPYD_SETTLEMENT_EWALLET: ${RAPYD_SETTLEMENT_EWALLET}
      RAPYD_SECRET_KEY: ${RAPYD_SECRET_KEY}
      OPEN_PAYMENTS_HOST: https://rafiki-backend
      GRAPHQL_ENDPOINT: http://rafiki-backend:3001/graphql
    restart: always
    networks:
      - testnet
    ports:
      - '3003:3003'
      - '9229:9229' # Map debugger port to local machine's port 9229

  # Rafiki
  rafiki-auth:
    container_name: rafiki-auth
    image: ghcr.io/interledger/rafiki-auth:v1.1.0-alpha
    restart: always
    networks:
      - testnet
    ports:
      - '3007:3007'
    environment:
      PORT: 3007
      NODE_ENV: development
      AUTH_DATABASE_URL: postgresql://rafiki_auth:rafiki_auth@postgres/rafiki_auth
      INTROSPECTION_HTTPSIG: 'false'
    depends_on:
      - postgres

  rafiki-backend:
    container_name: rafiki-backend
    image: ghcr.io/interledger/rafiki-backend:s2-build-test
    restart: always
    privileged: true
    ports:
      - '3010:80'
      - '3011:3001'
    networks:
      - testnet
    environment:
      NODE_ENV: development
      LOG_LEVEL: debug
      ADMIN_PORT: 3001
      CONNECTOR_PORT: 3002
      OPEN_PAYMENTS_PORT: 80
      DATABASE_URL: postgresql://rafiki_backend:rafiki_backend@postgres/rafiki_backend
      USE_TIGERBEETLE: false
      TIGERBEETLE_CLUSTER_ID: 0
      TIGERBEETLE_REPLICA_ADDRESSES: ''
      NONCE_REDIS_KEY: test
      AUTH_SERVER_GRANT_URL: http://rafiki-auth:3006
      AUTH_SERVER_INTROSPECTION_URL: http://rafiki-auth:3007
      ILP_ADDRESS: test.net
      STREAM_SECRET: BjPXtnd00G2mRQwP/8ZpwyZASOch5sUXT5o0iR5b5wU=
      ADMIN_KEY: admin
      PUBLIC_HOST: http://rafiki-backend
      OPEN_PAYMENTS_URL: http://rafiki-backend
      REDIS_URL: redis://redis:6379/0
      PAYMENT_POINTER_URL: https://rafiki-backend/.well-known/pay
      # Testnet urls - not implemented
      WEBHOOK_URL: http://wallet-backend:3003/rafiki/webhooks
      WEBHOOK_TIMEOUT: 60000
      PRICES_URL: http://wallet-backend:3003/rafiki/prices
      QUOTE_URL: http://wallet-backend:3003/rafiki/quote
    depends_on:
      - postgres
      - redis

  rafiki-frontend:
    container_name: rafiki-frontend
    image: ghcr.io/interledger/rafiki-frontend:v1.1.0-alpha
    depends_on:
      - rafiki-backend
    restart: always
    privileged: true
    ports:
      - '3012:3012'
    networks:
      - testnet
    environment:
      PORT: 3012
      GRAPHQL_URL: http://rafiki-backend:3001/graphql

  tigerbeetle:
    image: ghcr.io/tigerbeetledb/tigerbeetle@sha256:a1259a4c1e49b3bab3d4cb61160f47dbfb2599964577a0b9144673de9a3bea9d
    restart: unless-stopped
    privileged: true
    volumes:
      - tigerbeetle-data:/var/lib/tigerbeetle
    networks:
      testnet:
        ipv4_address: 10.5.0.50
    entrypoint:
      - /bin/sh
      - -c
      - |
        set -ex
        DATA_FILE=/var/lib/tigerbeetle/cluster_0_replica_0.tigerbeetle
        set +e
        ls $$DATA_FILE
        DATA_FILE_EXISTS="$$?"
        set -e
        echo $$DATA_FILE_EXISTS
        if [ "$$DATA_FILE_EXISTS" != 0 ]; then 
          ./tigerbeetle format --cluster=0 --replica=0 --replica-count=1 $$DATA_FILE; 
        fi
        hostname -i
        ls /var/lib/tigerbeetle
        ./tigerbeetle start --addresses=0.0.0.0:4342 $$DATA_FILE

  redis:
    image: 'redis:7'
    restart: unless-stopped
    networks:
      - testnet

networks:
  testnet:
    driver: bridge
    ipam:
      config:
        - subnet: 10.5.0.0/24
          gateway: 10.5.0.1

volumes:
  pg-data:
  tigerbeetle-data: # named volumes can be managed easier using docker-compose
