version: '3.8'
name: 'testnet'

services:
  postgres:
    image: 'postgres:15'
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    networks:
      - testnet
    restart: unless-stopped
    volumes:
      - pg-data:/var/lib/postgresql/data
      - ../dbinit.sql:/docker-entrypoint-initdb.d/init.sql

  wallet-frontend:
    hostname: wallet-frontend
    build:
      context: ../..
      dockerfile: ./packages/wallet/frontend/Dockerfile.prod
      args:
        PORT: ${WALLET_FRONTEND_PORT}
        NEXT_PUBLIC_USE_TEST_KYC_DATA: ${WALLET_FRONTEND_USE_TEST_KYC_DATA}
        NEXT_PUBLIC_BACKEND_URL: ${WALLET_FRONTEND_BACKEND_URL}
        NEXT_PUBLIC_OPEN_PAYMENTS_HOST: ${WALLET_FRONTEND_OPEN_PAYMENTS_HOST}
        NEXT_PUBLIC_AUTH_HOST: ${WALLET_FRONTEND_AUTH_HOST}
    container_name: wallet-frontend
    ports:
      - '${WALLET_FRONTEND_PORT}:${WALLET_FRONTEND_PORT}'
    restart: always

  # Testnet
  wallet-backend:
    build:
      context: ../..
      dockerfile: ./packages/wallet/backend/Dockerfile.prod
    container_name: wallet-backend
    depends_on:
      - postgres
      - rafiki-backend
    environment:
      NODE_ENV: ${NODE_ENV}
      PORT: ${WALLET_BACKEND_PORT}
      DATABASE_URL: ${WALLET_BACKEND_DATABASE_URL}
      COOKIE_NAME: ${WALLET_BACKEND_COOKIE_NAME}
      COOKIE_PASSWORD: ${WALLET_BACKEND_COOKIE_PASSWORD}
      COOKIE_TTL: ${WALLET_BACKEND_COOKIE_TTL}
      RAPYD_API: ${WALLET_BACKEND_RAPYD_API}
      RAPYD_ACCESS_KEY: ${WALLET_BACKEND_RAPYD_ACCESS_KEY}
      RAPYD_SETTLEMENT_EWALLET: ${WALLET_BACKEND_RAPYD_SETTLEMENT_EWALLET}
      RAPYD_SECRET_KEY: ${WALLET_BACKEND_RAPYD_SECRET_KEY}
      OPEN_PAYMENTS_HOST: ${WALLET_BACKEND_OPEN_PAYMENTS_HOST}
      GRAPHQL_ENDPOINT: ${WALLET_BACKEND_GRAPHQL_ENDPOINT}
      RAFIKI_MONEY_FRONTEND_HOST: ${WALLET_BACKEND_RAFIKI_MONEY_FRONTEND_HOST}
      SENDGRID_API_KEY: ${WALLET_BACKEND_SENDGRID_API_KEY}
      FROM_EMAIL: ${WALLET_BACKEND_FROM_EMAIL}
      SEND_EMAIL: ${WALLET_BACKEND_SEND_EMAIL}
      IDENTITY_SERVER_SECRET: ${RAFIKI_AUTH_IDENTITY_SERVER_SECRET}
      AUTH_DOMAIN: ${WALLET_BACKEND_AUTH_DOMAIN}
    networks:
      - testnet
    ports:
      - '${WALLET_BACKEND_PORT}:${WALLET_BACKEND_PORT}'
    restart: always

  rafiki-auth:
    image: ghcr.io/interledger/rafiki-auth:main@sha256:fb3e052d99ca989bea0c4e724fbef30a4ef320e6c4e85ca86ca2e05bb4be2832
    container_name: rafiki-auth
    environment:
      NODE_ENV: ${NODE_ENV}
      PORT: ${RAFIKI_AUTH_PORT}
      ADMIN_PORT: ${RAFIKI_AUTH_ADMIN_PORT}
      INTROSPECTION_PORT: ${RAFIKI_AUTH_INTROSPECTION_PORT}
      AUTH_DATABASE_URL: ${RAFIKI_AUTH_DATABASE_URL}
      IDENTITY_SERVER_SECRET: ${RAFIKI_AUTH_IDENTITY_SERVER_SECRET}
      IDENTITY_SERVER_DOMAIN: ${RAFIKI_AUTH_IDENTITY_SERVER_DOMAIN}
      AUTH_SERVER_DOMAIN: ${RAFIKI_AUTH_SERVER_DOMAIN}
    depends_on:
      - postgres
    networks:
      - testnet
    ports:
      - '${RAFIKI_AUTH_PORT}:${RAFIKI_AUTH_PORT}'
      - '${RAFIKI_AUTH_ADMIN_PORT}:${RAFIKI_AUTH_ADMIN_PORT}'
    restart: always

  rafiki-backend:
    image: ghcr.io/interledger/rafiki-backend:main@sha256:d1743cfe58f26847dd6fb80704ea9a4cb91747675661911005798d4cd35bef6e
    container_name: rafiki-backend
    depends_on:
      - postgres
      - redis
    environment:
      NODE_ENV: ${NODE_ENV}
      PRIVATE_KEY_FILE: ${RAFIKI_BACKEND_PRIVATE_KEY_FILE}
      LOG_LEVEL: ${RAFIKI_BACKEND_LOG_LEVEL}
      ADMIN_PORT: ${RAFIKI_BACKEND_ADMIN_PORT}
      CONNECTOR_PORT: ${RAFIKI_BACKEND_CONNECTOR_PORT}
      OPEN_PAYMENTS_PORT: ${RAFIKI_BACKEND_OPEN_PAYMENTS_PORT}
      DATABASE_URL: ${RAFIKI_BACKEND_DATABASE_URL}
      USE_TIGERBEETLE: ${RAFIKI_BACKEND_USE_TIGERBEETLE}
      TIGERBEETLE_CLUSTER_ID: ${RAFIKI_BACKEND_TIGERBEETLE_CLUSTER_ID}
      TIGERBEETLE_REPLICA_ADDRESSES: ${RAFIKI_BACKEND_TIGERBEETLE_REPLICA_ADDRESSES}
      NONCE_REDIS_KEY: ${RAFIKI_BACKEND_NONCE_REDIS_KEY}
      AUTH_SERVER_GRANT_URL: ${RAFIKI_BACKEND_AUTH_SERVER_GRANT_URL}
      AUTH_SERVER_INTROSPECTION_URL: ${RAFIKI_BACKEND_AUTH_SERVER_INTROSPECTION_URL}
      ILP_ADDRESS: ${RAFIKI_BACKEND_ILP_ADDRESS}
      STREAM_SECRET: ${RAFIKI_BACKEND_STREAM_SECRET}
      ADMIN_KEY: ${RAFIKI_BACKEND_ADMIN_KEY}
      PUBLIC_HOST: ${RAFIKI_BACKEND_PUBLIC_HOST}
      OPEN_PAYMENTS_URL: ${RAFIKI_BACKEND_OPEN_PAYMENTS_URL}
      REDIS_URL: ${RAFIKI_BACKEND_REDIS_URL}
      PAYMENT_POINTER_URL: ${RAFIKI_BACKEND_PAYMENT_POINTER_URL}
      WEBHOOK_URL: ${RAFIKI_BACKEND_WEBHOOK_URL}
      WEBHOOK_TIMEOUT: ${RAFIKI_BACKEND_WEBHOOK_TIMEOUT}
      EXCHANGE_RATES_URL: ${RAFIKI_BACKEND_EXCHANGE_RATES_URL}
      QUOTE_URL: ${RAFIKI_BACKEND_QUOTE_URL}
    networks:
      - testnet
    ports:
      - '3010:80'
      - '3011:3001'
    privileged: true
    restart: always
    volumes:
      - ../temp/:/workspace/temp/

  rafiki-frontend:
    image: ghcr.io/interledger/rafiki-frontend:main@sha256:e8fd69d600a72f760fe175e695db852b351d37fa94065ef206ece051dfc68f8c
    container_name: rafiki-frontend
    depends_on:
      - rafiki-backend
    environment:
      PORT: ${RAFIKI_FRONTEND_PORT}
      GRAPHQL_URL: ${RAFIKI_FRONTEND_GRAPHQL_URL}
      OPEN_PAYMENTS_URL: ${RAFIKI_FRONTEND_OPEN_PAYMENTS_URL}
    networks:
      - testnet
    restart: always
    privileged: true
    ports:
      - '${RAFIKI_FRONTEND_PORT}:${RAFIKI_FRONTEND_PORT}'

  tigerbeetle:
    image: ghcr.io/tigerbeetle/tigerbeetle:0.13.57
    privileged: true
    volumes:
      - tigerbeetle-data:/var/lib/tigerbeetle
    networks:
      testnet:
        ipv4_address: 10.5.0.50
    entrypoint:
      - /bin/sh
      - -c
      - |
        set -ex
        DATA_FILE=/var/lib/tigerbeetle/cluster_0_replica_0.tigerbeetle
        set +e
        ls $$DATA_FILE
        DATA_FILE_EXISTS="$$?"
        set -e
        echo $$DATA_FILE_EXISTS
        if [ "$$DATA_FILE_EXISTS" != 0 ]; then 
          ./tigerbeetle format --cluster=0 --replica=0 --replica-count=1 $$DATA_FILE; 
        fi
        hostname -i
        ls /var/lib/tigerbeetle
        ./tigerbeetle start --addresses=0.0.0.0:4342 $$DATA_FILE

  redis:
    image: 'redis:7'
    restart: unless-stopped
    networks:
      - testnet

networks:
  testnet:
    driver: bridge
    ipam:
      config:
        - subnet: 10.5.0.0/24
          gateway: 10.5.0.1

volumes:
  pg-data:
  tigerbeetle-data: # named volumes can be managed easier using docker-compose
