@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    margin: 0;
    appearance: textfield;
    -moz-appearance: textfield !important;
    -webkit-appearance: none;
  }
}
