# The default configuration file path is '.github/labeler.yml'
name: Labeler

on:
  pull_request_target:
    branches: ['*']

jobs:
  label:
    name: Triage
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/labeler@v6
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          sync-labels: true
